@use "./variables" as *;
@use "./mixins" as *;

.hero__picture {
  display: flex;
  background-image: url(../images/chuck-norris-texas-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;

  @include tablet {
    height: 50rem;
  }

  @include desktop {
    height: 70rem;
  }
}
