@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin margin {
  margin: 1.6rem;

  @include tablet {
    margin: 1.6rem 3.6rem;
  }

  @include desktop {
    max-width: $main-max-width;
    margin: auto;
  }
}

@mixin button {
  background-color: darkgrey;
  font-weight: 600;
  border-radius: 2rem;
}
