@use "./variables" as *;
@use "./mixins" as *;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Avenir";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
